@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: black;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    letter-spacing: 0em;   
    line-height: 64px;
    font-weight: 700;
} 
 a{
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF
}
li{
    list-style: none;
}

/* Top part 
1/3 */
.header{
    max-width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-image: url(../assets/BackgroundTop.png);
    color:white;
    border-right: solid white 1px;
}

.header .navbar_right li span{
    border-bottom: solid 2px #FFFFFF;
    padding-bottom: 2px;
}


.header .navbar_left a{
    position: absolute;
    padding-left: 153px;
    top: 45px;
    font-size: 20px;
    letter-spacing: 0.1em;
    }

.navbar .navbar_right {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding-left: 409px;
    top: 49px;
    gap: 30px;
    font-size: 14px;    
    letter-spacing: 0.2em;   
}

.header_center{
    position: relative;
    text-align: center;
    width: 426px;
    left: 388px;
    top: 252px;
}


.header_center ul p{
    font-size: 24px;
    opacity: 70%;
    line-height: 32px;  
}


/* main part
2/3 */
.main{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-color:  #EEEEEE;
    text-align: center;
}

.main h1{
    color: #464547;
    padding-top: 65px;
}

.main .sub_header{
    
    display: inline-block;
    line-height: 32px;
    margin-top: 18px;    
    font-size: 24px;
    color: #666666;
}

.main .main_paragraph{
    display: inline-block;
    line-height: 22px;
    margin-top: 40px; 
    margin-left: 97px;
    margin-right: 120px;
    font-size: 16px;
}

.main .btn.read_more{
    margin-top: 40px;
    width: 115px;
    height: 36px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    border-radius: 18px;
    background-color: #55C2D8;
    border: 1px solid #55C2D8;
}
/* bottom section
3/3 */
.bottom_section{
    max-width: 1200px;
    height: 666px;
    margin: 0 auto;
    background: url(../assets/BackgroundBottom.png); 
    text-align: center;

}

.bottom_section .bottom.layout{
    position: absolute;
    width: 1200px;
    height: 666px;
    background-color: rgba(140, 79, 42, 0.3);
    z-index: 2;
  }


.middle_sector{
    position: relative;
    width: 480px;
    top: 84px;
    left: 360px;
    z-index: 3;
    color: white;
}

.bottom_section .btn.play{
    margin-top: 52px;
    width: 150px;
    height: 150px;
    background-color: #39C2D7;
    border: solid #39C2D7 1px;
    border-radius: 50%;
    cursor: pointer;
}

.bottom_section .btn.play .triangle{
    border-radius: 2px;
    color: white;
    font-size: 55px;
    
}

.bottom_section .btn.play:hover{
transform: rotate(90deg);
}

.bottom_section p{
    display: inline-block;
    line-height: 32px;
    margin-top: 70px;
    font-size: 24px;
}

/* Footer */

.footer{
    width: 1200px;
    height: 170px;
    background: #464547;
    margin: 0 auto;
    color: #FFFFFF;
    border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.footer .contact_section{
    margin-left: 140px;
    margin-top: 14px;
}

.footer .contact_section .name{
    padding-left: 5px;
    padding-top: 2px;
}

.footer .contact_section .name  img{ 
    position: absolute;
}

.footer .contact_section .name span{
    position: absolute;
    padding-left: 36px;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    margin-top: 2px;
}

.footer ul{
    position: relative;
    padding-top: 30px;
    line-height: 19px;
    opacity: 40%
}

.footer ul li{
    padding-top: 3px;
}

